<p>An experiment in making equipment tracking easier. <i>Very</i> much a work in progress - come back soon. Currently geared towards taiko groups but probably can be used for any musical group in the future. Join me and see how far we can go!</p>
<br />
<p>Questions +/ feedback? Contact me at sophieye(AT)stanford(DOT)edu. Thanks for stopping by!
