<p>An experiment in making equipment tracking easier. <i>Very</i> much a work in progress - come back soon. Currently geared towards taiko groups but probably can be used for any musical group in the future. Join me and see how far we can go!</p>
<br />
<p>Questions +/ feedback? Email me <%= mail_to "sophieye(AT)stanford(DOT)edu", "here", encode: "hex", :target => "_blank" %>. Thanks for stopping by!
