// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$header-font-stack: 'Open Sans', Helvetica, sans-serif;
$body-font-stack: 'Noto Serif', Georgia, serif;
$primary-color: #333;

* {
	margin: 0px;
	padding: 0px;
}

body {
  font: 100% $body-font-stack;
  font-size: 16px;
  color: $primary-color;
  width: auto;
  padding: 25px;
}

h1 {
	font: 100% $header-font-stack;
	font-size: 64px;
	font-weight: bold;
	text-align: center;
	color: $primary-color;
	letter-spacing: -1px;
}

#login_header {
	text-align: right;
	margin-bottom: 10px;
}